<table id="module-column-login" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-center">column login</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for layout_module in layout_modules %}
                      {% if layout_module.position == 'column_login' %}
                        <tr id="module-row-{{ module_row }}">
                          <td class="text-start">
                            <div class="input-group input-group-sm">
                              <select name="layout_module[{{ module_row }}][code]" class="form-select input-sm">
                                {% for extension in extensions %}
                                  <optgroup label="{{ extension.name }}">
                                    {% if not extension.module %}
                                      <option value="{{ extension.code }}"{% if extension.code == layout_module.code %} selected{% endif %}>{{ extension.name }}</option>
                                    {% else %}
                                      {% for module in extension.module %}
                                        <option value="{{ module.code }}"{% if module.code == layout_module.code %} selected{% endif %}>{{ module.name }}</option>
                                      {% endfor %}
                                    {% endif %}
                                  </optgroup>
                                {% endfor %}
                              </select> <input type="hidden" name="layout_module[{{ module_row }}][position]" value="{{ layout_module.position }}"/> <input type="hidden" name="layout_module[{{ module_row }}][sort_order]" value="{{ layout_module.sort_order }}"/> <a href="{{ layout_module.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt fa-fw"></i></a>
                              <button type="button" onclick="$('#module-row-{{ module_row }}').remove();" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-sm"><i class="fas fa-minus-circle fa-fw"></i></button>
                            </div>
                          </td>
                        </tr>
                        {% set module_row = module_row + 1 %}
                      {% endif %}
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="text-end"><button type="button" onclick="addModule('column-login');" data-bs-toggle="tooltip" title="{{ button_module_add }}" class="btn btn-primary btn-sm"><i class="fas fa-plus-circle fa-fw"></i></button></td>
                    </tr>
                  </tfoot>
                </table>
				